html,body{
  overflow-x:hidden;
}

#wrapper,#content {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#left-col,#right-col{
    width: 100%;
    margin: 0px;
}

.img-reponsive{
  max-width: 100%;
}

#nav a {
  font-size: 12px;
}

#comments{
  width: 94%;
}

.mobile_menu{
  display: none;
}

.mobile_menu > a#mm_btn{
  background: #9E9479 url(images/icon_nav.png) no-repeat 97% center;
  padding: 26px 10px;
  line-height: 0;
  display: block !important;
  text-decoration: none !important;
  border-left: 2px solid #9E9479;
}

.states{
  display: none;
  text-align: left;
}



@media (max-width: 680px){
  #nav{
    background:none;
    padding-top: 120px;
  }
  #nav h1{
    text-align: center;
    left: 0;
    right: 0;
    top:0px;
    margin:auto;
    font-size: 32px;
    line-height: 54px;
  }
  #nav ul{
    height: 217px;

  }

  .cities ul {
    list-style-type:none;
    padding: 10px;
  }

  .states ul{
    list-style-type:none;
    padding: 10px;
  }

  .cities ul li,.states ul li{
    width: 40%;
  }

  .cities ul li a,.states ul li a{
    font-size: 12px;
  }



  .dt_menu{
    display: none;
  }
  .mobile_menu{
    display: block;
  }
  #nav li{
    float: none;
    background: bottom left url(images/nav_lit.gif) repeat-x;
  }
  #nav a {
    display: block;
  }

  input.form-textbox{
    width: 80%;
  }

  .btn{
    font-size: 12px;
  }

  table td{
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  table.wp td{
    margin-bottom: 0px;
  }


  .states{
    display: block;
  }

  .img-reponsive{
    display: none;
  }

}


@media (min-width: 680px){
    #nav {
      background-position: right;
    }
}

@media (min-width: 768px) {
  #wrapper,#content {
    width: 750px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #left-col{
    width: auto;
    padding: 15px;
  }
  #right-col{
    width: auto;
    padding: 15px;
  }
  #nav a {
    font-size: 14px;
  }

}
@media (min-width: 992px) {
  #wrapper,#content {
    width: 960px;
  }
  #left-col{
    width: 600px;
  }
  #right-col{
    width: 300px;
  }

  #nav a {
    font-size: 16px;
  }
  #nav {
    background-position: initial;
  }
}
@media (min-width: 1200px) {
  #wrapper,#content {
    width: 960px;
  }
}